@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}
body {
  /* background-color: #d1f3f2; */
  background-image: url(../waiter.jpg);
  background-size: cover;
  font-family: "Rubik", cursive;
}
button {
  border-radius: 2px;
}

.title {
  color: #ffffff;
  font-size: 2rem;
  text-align: center;
  margin-top: 10%;
  font-weight: 600;
}
.tip__container {
  padding: 1% 2%;
  width: 40%;
  height: auto;
  margin: 1% auto 10%;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
}

.input-elements {
  font-family: cursive;
  font-size: 1.4rem;
  text-align: right;
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
.input-elements,
.tip__percentage--btn,
.person-num {
  border-radius: 2px;
  width: 100%;
}
.tip__percentage--btn {
  border: none;
  background-color: #22577a;
  transition: all 300ms ease;
  color: white;
}
.tip__percentage--btn:hover {
  background-color: #b1fffd;
  color: black;
}
/* tip container  */
.tip__selection--container,
.num__of--person {
  margin-top: 40px;
}
/* person input container  */
.person-num {
  margin-top: 5px;
  font-family: cursive;
  font-size: 1.4rem;
  text-align: right;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
/* result container  */
.result--container {
  background-color: #22577a;
  border-radius: 10px;
  padding: 2% 5%;
}
.tip__amount--container {
  display: flex;
  justify-content: space-between;
}
.amount-number {
  font-size: 1.5rem;
  color: #659b99;
}
.amount-text {
  font-size: 1.1rem;
  color: white;
}
span {
  font-size: 12px;
  color: gray;
}
.reset-btn {
  background-color: #b1fffd;
  width: 100%;
  border: none;
  margin-top: 30%;
  transition: all 100ms ease;
}

.reset-btn:hover {
  background-color: rgba(177, 255, 253, 0.2);
  color: white;
}

@media (max-width: 1080px) {
  .tip__container {
    padding: 2% 5%;
    width: 80%;
    border-radius: 0;
  }
  .result--container {
    margin-top: 10px;
    border-radius: 10px;
    font-size: 0.8rem;
  }
  .reset-btn {
    width: 100%;
  }
}
